head{
	font-variant-position: "middle";
	font-color:"red";
	text-align:"middle";
}
#"welcome-section"{
	font-variant-position: "middle";
	font-color:"blue";
	text-align:"middle";
}
#"my-skills"{
	font-variant-position: "middle";
	font-color:"blue";
	text-align:"middle";
}
."my-hobbies"{
	font-variant-position: "middle";
	font-color:"blue";
	text-align:"middle";
}
#"about-me"{
	font-variant-position: "middle";
	font-color:"blue";
	text-align:"middle";
}