<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="darkdebo.github.io/assets/css/
style.css"/>
	<title>debo project</title>
</head>
<body>
    <div id="welcome-section">
    	<h3><i>welcome to my page</i></h3>
    </div>

    <div id="my-skills">
    	<ul>
    		<li><h4>HTML and css(less interested)</h4></li>
    		<li><h4>c programming</h4></li>
    		<li><h4>python and keep studying machine learning,data science algorithm</h4></li>
    		<li><h4>java(core).not much interested</h4></li>
    		<li><h4>ruby language for fun</h4></li>
    		<li><h4>javascript is almost same like python and ruby</h4></li>
    	</ul>
    </div>

    <div class="my-hobbies">
    	<h3>i like to collect stamps,reading books,coding,solve problems .<br>just like today just practice my some skill</h3>
    </div>

</body>
<footer>
	<div id="about-me">
	     <h2>
	     	<i>
	     		keep everything simple.<br>as simplicity help you to make something good.<br>
	     		if you code for 15 minutes it also help you.<br>little learning process are to good for your learning.
	     		<br>
	     	</i>
	     </h2>
	</div>
</footer>
</html>
